/* SINGLE PRODUCT STYLE */

#singProdDiv{
    border: solid 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75%;
    margin: auto;
  }
  
  #sneakTitle{
    font-weight: bold;
    font-size: 50px;
  }
  
  #price{
    font-weight: bold;
    font-size: 30px;
  }
  
  #sizeText{
    font-weight: bold;
    font-size: 20px;
  }
  
  #singProdUl{
    list-style: none;
  }
  
  #singProdImg{
    width: 500px;
    height: auto;
  }
  
  .sizeBtns{
    cursor: pointer;
    width: 50px;
    height: auto;
    margin: 5px;
    border-radius: 30%;
  }

  .sizeBtns.selected{
    background-color: black;
    color: white;
    border: white;
  }

  .sizeBtns:hover{
    background-color: black;
    color: white;
    border: white;
  }
  
  #cartBtn{
    background-color: black;
    margin: 10px 75px;
    width: 300px;
    font-size: 20px;
    color: white;
  }
  
  .prodDetail{
    font-weight: bold;
    padding: 10px;
    /* margin: 10px; */
    margin-right: 30px;
  }

  