body {
  font-family: sans-serif;
  background-color: gray;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 7px;
}

form div {
  margin: 1em;
  display: inline-block;
}

#routesDiv{
  padding: 20px;
}